.root {
    -fx-font-family: "Arial";
    -fx-padding: 10;
    -fx-background-color: #f4f4f4;
}

.label {
    -fx-font-size: 14px;
}

.button {
    -fx-font-size: 14px;
    -fx-padding: 5 15;
}

.list-view {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
}
